body{
    margin: 0;
    background-image: url(/images/WhatsApp\ Image\ 2023-12-02\ at\ 12.46.33\ PM\ \(1\).jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
   
}

.home-title{
    position: absolute;
    width: 170px;
    height: 36px;
    left: 700px;
    top: 68px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 36px;
    text-align: center;
    color: bisque;
}
    

.home-score-background{
    position: fixed;
    width: 190px;
    height: 180px;
    left: 700px;
    top: 125px;
    background: sandybrown;
    border-radius: 5px;
}
  
@font-face {
    font-family:'Cursed Timer ULiL';
    src: url(fonts/CursedTimerUlil-Aznm.ttf);
}
    

#score--home-el{
    position: absolute;
    width: 100px;
    height: 120px;
    left: 46px;
    top: -70px;
    margin: 0, auto;
    font-family:'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 127px;
    text-align: center;
    color: brown;
}
#freethrow-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 700px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}

#midrange-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 775px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}

#longshot-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 850px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}

.guest-title{
    position: absolute;
    width: 170px;
    height: 36px;
    left: 1050px;
    top: 68px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 36px;
    text-align: center;
    color: bisque;
}
.guest-score-background {
    position: fixed;
    width: 190px;
    height: 180px;
    left:1050px;
    top: 125px;
    background: sandybrown;
    border-radius: 5px;
}

#score--guest-el{
    position: absolute;
    width: 100px;
    height: 120px;
    left: 46px;
    top: -70px;
    margin: 0, auto;
    font-family:'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 127px;
    text-align: center;
    color: brown;
}

#freethrow-guest-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1059px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}
#midrange-guest-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1130px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}
#longshot-guest-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1205px;
    top: 330px;
    border: 2px solid #d35603 ;
    border-radius: 5px;
}
.btn{
    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 89px;
    top: 280px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: coral;
    background-color: rgb(60, 12, 150);

}
